.todo-container {
    /* background-color: #eee; */
    box-sizing: border-box;
    padding: 20px;
}

.working-title, .done-title {
    width: fit-content;
}

.card-title {
    margin: 0px;
}

.working-list, .done-list {
    display: flex;
    flex-direction: row;
}

.working-card, .done-card {
    text-align: left;
    width: 270px;
    border: 4px solid darkcyan;
    border-radius: 10px;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.working-card > .buttons, .done-card > .buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.working-card button, .done-card button {
    width: 50%;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}

.delete-btn {
    border: 3px solid red;
}

.complete-btn, .cancel-btn {
    border: 3px solid green;
}
 